.SelectCategory select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #ccc;
    background-color: blue;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}