.SearchText input {
   border: 0;
   color:slateblue;
   background: transparent;
   font-size: 20px;
   font-weight: bold;
   padding: 2px 30px;
   width: 570px;
   -webkit-appearance: none;
}

.SearchText {
   overflow:hidden;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   background: #58B14C no-repeat scroll 1319px center;
   float: center;
   max-width:570px;
}

.Hidden {
    display:none
}

.Display {
    display:inline
}

.Border {
    padding: 20px 1px;
    margin-top: -20px;
    margin-bottom: 2px
}


@media (max-width: 600px){
        
    .SearchText{
        max-width:265px;
        margin-left: auto;
        margin-right: auto;
    }

    

}