.Home {
    width: 80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    
    margin: 10px auto;
    box-sizing: border-box;
    align-content: center;

    list-style:none;
    margin: 0 auto;
    max-width: 600px;
    padding: 0;
}