.Users { 
    width: 80%;
    list-style:none;
    max-width: 60rem;
    margin-top: 2rem;
 }
 
.UsersContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}