.SiteData {
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    background: white;
    width: 80%;
    height: 80%;
}

.SiteDataContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}    

@media (min-width: 600px) {
    .SitetData {
        width: 500px;
    }
}

@media (max-width: 600px) {
    
}